# Environment
.env
#docker-compose.yml
#eliminado del ignore para que si tenga las versiones reales - y se levante con un solo comando

# Dependencies
node_modules/
vendor/
target/

# OS
.DS_Store
Thumbs.db

# Editors
.vscode/
.idea/
*.swp
*.swo
